
/* <!--   Урок 4  -->
  <!-- Завдання №1. Змініть колір тексту на червоний та фон на жовтий, коли користувач наведе курсор миші на кнопку  -->
  <!--  Використовуйте цей селектор :hover--> */
  .lesson-four-task-one button:hover {
    color: red;
    background-color:yellow;
    }
    

  /*  <!-- Завдання №2. Змініть фон заголовка на зелений, коли користувач наведе курсор миші на посилання: -->
  <!--  Використовуйте цей селектор :hover-->
 */

 a:hover + .title {
    background-color:green;
 }

 /*    <!-- Завдання №3. Змініть колір тексту відвіданого посилання на жовтий: -->
  <!--    Порада проходити це завдання на https://codepen.io/ ,адже через те,
          що браузер запам'ятовує посилання на які ви заходили вам потрібно буде скидати кеш постійно,
          тому легше всього пройти тут -->
  <!--  Використовуйте цей селектор :visited-->
 */
 .lesson-four-task-three a:visited {
    color: yellow;
 }

 /*   <!--    Завдання №4. Змініть колір тексту посилання,
    яке знаходиться в блоку з ідентифікатором "sidebar", на червоний: -->

  <!--    Порада проходити це завдання на https://codepen.io/ ,адже через те,
        що браузер запам'ятовує посилання на які ви заходили вам потрібно буде скидати кеш постійно,
        тому легше всього пройти тут -->
  <!--      Використовуйте цей селектор :link --> */

  #sidebar a:link {
    color:red;
}

  /*   <!--    ЗаЗавдання №5. Змініть колір фону кнопки на синій, коли кнопка активна  -->

  <!--      Використовуйте цей селектор :active -->*/

  .btn:active {
    color: blue;
  }

  /*  <!--    Завдання №6. Змініть колір тексту та фон кнопки, коли вона отримує фокус, на помаранчевий: -->

  <!--      Використовуйте цей селектор :focus --> */

.btn:focus {
    background-color: orange;
    color: orange;
}

  /*  <!--    Завдання №7. Змініть колір тексту та фон елемента,
  який вказаний в URL як фрагмент, на зелений, коли на нього встановлюється :target: -->

  <!--      Використовуйте цей селектор :target --> */
#target:target {
color: green;
background:green;
}

  /*  <!--    Завдання №8. Змініть колір тексту на білий та фон елемента на синій при натискані відповідного чекбоксу: -->

  <!--      Використовуйте цей селектор :checked --> */


#checkbox:checked +
#target {
    background-color: blue;
    color: white;
}

  /* <!--    Завдання №9. Змінити колір тексту на синій для усіх елементів на сторінці, які написані українською мовою. -->
  <!--      Використовуйте цей селектор :lang() --> */

p:lang(uk) {
color: blue;
}

p:lang(en) {
 color: blue;
}

  /*  <!--    Завдання №10. Змінити колір тексту на червоний та фон на жовтий елементів форми, які включені та доступні для введення.-->

  <!--      Використовуйте цей селектор :enabled -->
 */

 *:enabled {
    color: red;
    background-color:yellow;
 }


 /* <!--    Завдання №11. При використанні селектора :disabled змінити фоновий колір на жовтий в полях введення, які є неактивними.-->

  <!--      Використовуйте цей селектор :disabled --> */
input:disabled {
    background-color: yellow;
}
button[type='submit']:disabled {
    background-color: yellow;
}

*:disabled {
    background-color: yellow;
}

  /* 
  <!--    Завдання №12. Встановіть жовтий фоновий колір для елементів <input>, що без атрибута readonly. -->
  <!--      Використовуйте цей селектор :read-write --> */
input:read-write {
    background-color:yellow;
}

  /* <!--  Завдання №13. Встановіть жовтий фоновий колір для інпуту з атрибутом readonly. -->
 */
 input:read-only {
    background-color:yellow;
}


 /*  <!--    Завдання №14. Зробіть поле вводу зеленим, коли введене значення коректне, і червоним - якщо ні. -->
  <!--      Використовуйте ці селектори :valid та :invalid   --> */

input:valid {
    background-color: green;
}
 input:invalid {
    background-color: red;
}


  /* !--    Завдання №15. Застосувати селектор :optional до текстового поля форми,
  яке не є обов'язковим для заповнення, і змінити його фон на червоний,. -->

  <!--      Використовуйте цей селектор :optional --> */
textarea:optional {
    background-color: red;
}


  /*  <!--    Завдання №16. Є форма з полем вводу числа, яке може бути від 0 до 100.
  Задача змінити колір фону поля вводу на червоний, якщо значення не входить до цього діапазону.-->

  <!--      Використовуйте цей селектор :out-of-range --> */

input:out-of-range {
    background-color:red;
}


/* 
<!--  17  Є форма з полем вводу числа, яке може бути від 0 до 100.
  Задача змінити колір фону на червоний, якщо значення входять до діапазону від 0 до 100. -->

<!--      Використовуйте цей селектор :in-range--> */

input:in-range {
    background-color: red;
}



  /*   <!--    Завдання №18.У цьому завданні потрібно зробити, щоб змінювався колір фону placeholder на червоний ,
  який зникає, коли користувач починає вводити. -->
  <!--      Використовуйте цей селектор :placeholder-shown-->
*/
input:placeholder-shown {
    background-color: red;
}



/* <!--    Завдання №19. Застосуйте селектор :focus-within до блоку,

  який змінює колір тексту на білий та фоновий колір на жовтий при активному стані. -->
 */

button:focus-within {
    color: white;
    background-color: yellow;
}

 /* <!--    Завдання №20. При валідації форми з помилкою, змінюйте колір фону на червоний. -->
  <!--      Використовуйте цей селектор :invalid--> */

input:invalid {
    background-color: red;
}
